{% extends './base.html' %}
{% load custom_filters %}
{% block content %}
{% if registered %}
    <strong>Thank you for registering</strong>
{% else %}
    <strong>Create a New Account</strong>
    <form id="registration_form" method="post" enctype="multipart/form-data" class="flex flex-col gap-2 text-wrap w-1/4">
        {% csrf_token %}
        {% render_form_fields registration_form %}
        <input type="submit" name="submit" value="Register" class="w-full mt-4 px-4 py-2 rounded-lg bg-gray-900 text-white text-sm font-medium hover:bg-gray-700 transition" />
    </form>
{% endif %}
{% endblock %}