{% load custom_filters %}
<div class="grid gap-6 w-full md:grid-cols-2 lg:grid-cols-3">
    {% for teacher in teachers %}
    <div class="bg-slate-50 border border-slate-200 rounded-2xl overflow-hidden cursor-pointer hover:shadow transition"
         onclick="location.href='/users/{{ teacher.pk }}';">
        {% include 'components/cover_image.html' with picture=teacher.profile_picture title=teacher height='32' %}
        <div class="p-4 flex items-center justify-center">
            <h2 class="text-lg font-semibold text-center truncate w-full text-gray-800">
                {{ teacher }}
            </h2>
        </div>
    </div>
    {% empty %}
        <div class="text-gray-400 italic">No teachers found.</div>
    {% endfor %}
</div>